.about {
    margin-top: 4rem;
    height: auto;
}

.about-container {
    display: flex;
    padding: 0 3rem;
}

.about-left {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-profile {
    width: 538px;
    height: 486px;
}

.about-right {
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    padding-left: 4rem;
}

.about-title {
    font-size: 32px;
}

.about-title:after {
    content: " ";
    border: 1px solid var(--link);
    border-radius: 50px;
    margin-top: 10px;
    display: block;
    max-width: 75px
}

.about-text, .about-right span {
    color: var(--text-paragraph);
    line-height: 1.5;
}

.about-button {
    margin-top: 2.5rem;
}